main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button.replay {
    height: 40px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid #cccccc;
    font-size: medium;
}

.visible {
    visibility: visible;
}

button:not(.visible) {
    visibility: hidden;
}

.win.playerA {
    background-color: greenyellow;
}

.win.playerB {
    background-color: tomato;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    box-sizing: border-box;
}

.box:not(.locked) {
    cursor: pointer;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
    border-bottom: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7) {
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
    border-right: none;
}