main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

td {
    width: 100px;
    height: 100px;
    vertical-align: center;
    text-align: center;
    border: 1px solid #333;
    cursor: pointer;
    font-size: xx-large;
}

table {
    border-collapse: collapse;
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

button {
    height: 5em;
    width: 25em;
    margin-top: 5em;
}

.locked {
    cursor: default;
}

.win {
    background-color: blue;
}