main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    height: 5em;
    width: 310px;
    margin-top: 5em;
}

.locked {
    cursor: default !important;
}

.win {
    background-color: greenyellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: xx-large;
}